<table>
    <tr class="header-row">
        <th (click)="sort('name')" class="sortable">Name</th>
        <th (click)="sort('type')" class="sortable">Type</th>
        <th>Operational</th>
        <th>Orbit Type</th>
        <th>Launch Date</th>
    </tr>
    
    <tr *ngFor="let displayList of satellites"> 
        <td>{{displayList.name}}</td>
        <td [ngClass]="{'warning' : displayList.isSpaceDebris()}">{{displayList.type}}</td>
        <td>{{displayList.operational}}</td>
        <td>{{displayList.orbitType}}</td>
        <td>{{displayList.launchDate}}</td>
    </tr>
</table>


<!-- TODO 2b: use *ngFor to display satellite data in the table -->
<!-- TODO 3b: add style directive to conditionally highlight satellite type -->

